.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.authorize-button  {background-color: red;}
.signout-button{background-color: red;}

.channel-form{
  background: green;
}